<!doctype html>
<html lang="en">
  <head>
    <title>New Pourover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <style type="text/css">
    body {
      padding: 1em;
    }

    h1 {
      padding-top: 0;
      margin-top: 0;
    }

    label,
    input[type=text],
    input[type=number],
    select,
    textarea {
      display: block;
      width: 100%;
    }

    label.checkbox {
      display: inline;
    }

    input[type=text],
    input[type=number],
    select,
    textarea {
      margin-bottom: 1em;
      min-width: 3em;
    }

    .section {
      margin-bottom: 1em;
    }

    .particle-size-distribution {
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 0.5em;
    }

    .particle-size-distribution input[type=number] {
      width: unset;
    }
    </style>
  </head>
  <body>
    <h1>New Pourover</h1>
    <form action="/pourovers" method="POST">
      <div class="section">
        <h2>Beans</h2>
        <label for="beans">Beans</label>
        <select id="beans" name="beans">
          <%= for bean <- beans do %>
            <option value="<%= bean.id %>"><%= bean.display_name %></option>
          <% end %>
        </select>
        <label for="beans_weight">Whole Beans Weight (g)</label>
        <input type="number" step="0.1" id="beans_weight" name="beans_weight" value="24" />
      </div>
      <div class="section">
        <h2>Grind</h2>
        <label for="grinder">Grinder</label>
        <select id="grinder" name="grinder">
          <%= for grinder <- grinders do %>
            <option value="<%= grinder.id %>"><%= grinder.name %></option>
          <% end %>
        </select>
        <label for="grind_setting">Grind Setting</label>
        <input type="text" id="grind_setting" name="grind_setting" />
      </div>
      <div class="section">
        <h2>Sift</h2>
        <label for="coarser_sieve">Coarser Sieve (μm)</label>
        <input type="number" id="coarser_sieve" name="coarser_sieve" />

        <label for="finer_sieve">Finer Sieve (μm)</label>
        <input type="number" id="finer_sieve" name="finer_sieve" />

        <label for="sift_duration">Sift Duration (mm:ss)</label>
        <input type="text" id="sift_duration" name="sift_duration">

        <h3>Particle Size Distribution</h3>
        <div class="particle-size-distribution">
          <label for="coarser_grounds_weight">Coarser&nbsp;(g)</label>
          <input type="number" step="0.1" id="coarser_grounds_weight" name="coarser_grounds_weight" />
          <div class="checkbox-container">
            <input type="checkbox" id="included_coarser_grounds" name="included_coarser_grounds" checked />
            <label class="checkbox" for="included_coarser_grounds">Included</label>
          </div>

          <label for="medium_grounds_weight">Medium&nbsp;(g)</label>
          <input type="number" step="0.1" id="medium_grounds_weight" name="medium_grounds_weight" />
          <div class="checkbox-container">
            <input type="checkbox" id="included_medium_grounds" name="included_medium_grounds" checked />
            <label class="checkbox" for="included_medium_grounds">Included</label>
          </div>

          <label for="finer_grounds_weight">Finer&nbsp;(g)</label>
          <input type="number" step="0.1" id="finer_grounds_weight" name="finer_grounds_weight" />
          <div class="checkbox-container">
            <input type="checkbox" id="included_finer_grounds" name="included_finer_grounds" />
            <label class="checkbox" for="included_finer_grounds">Included</label>
          </div>
        </div>
      </div>

      <div class="section">
        <h2>Brewer</h2>
        <label for="brewer">Brewer</label>
        <select id="brewer" name="brewer">
          <%= for brewer <- brewers do %>
            <option value="<%= brewer.id %>"><%= brewer.name %></option>
          <% end %>
        </select>
        <label for="filter">Filter</label>
        <select id="filter" name="filter">
          <%= for filter <- filters do %>
            <option value="<%= filter.id %>"><%= filter.name %></option>
          <% end %>
        </select>
      </div>
      <div class="section">
        <h2>Pour Setup</h2>
        <label for="water_temp">Water Temperature (°F)</label>
        <input type="number" id="water_temp" name="water_temp" />
        <label for="grounds_weight">Grounds Weight (g)</label>
        <input type="number" step="0.1" id="grounds_weight" name="grounds_weight" />
        <label for="ratio">Water to Coffee Ratio Multiplier</label>
        <input type="number" step="0.1" id="ratio" value="16" />
        <label for="pour_water_weight">Pour Water Weight (g)</label>
        <input type="number" step="0.1" id="pour_water_weight" name="pour_water_weight" />

        <h2>Pour Measurements</h2>
        <label for="bloom_water_weight">Bloom Water Weight (g)</label>
        <input type="number" step="0.1" id="bloom_water_weight" name="bloom_water_weight" />
        <label for="pour_finished">Pour Finished (mm:ss)</label>
        <input type="text" id="pour_finished" name="pour_finished" />
        <label for="draw_down_finished">Draw Down Finished (mm:ss)</label>
        <input type="text" id="draw_down_finished" name="draw_down_finished" />
        <label for="technique_notes">Technique Notes</label>
        <textarea id="technique_notes" name="technique_notes" rows="8"></textarea>
      </div>
      <div class="section">
        <h2>Results</h2>
        <label for="taste_notes">Taste Notes</label>
        <textarea id="taste_notes" name="taste_notes" rows="6"></textarea>
      </div>
      <button type="submit">Save</button>
    </form>
    <script type="text/javascript">
      const groundsWeightInput = document.getElementById("grounds_weight");
      const ratioInput = document.getElementById("ratio");
      const pourWaterWeightInput = document.getElementById("pour_water_weight");
      const updatePourWaterWeight = () => {
        const groundsWeight = parseFloat(groundsWeightInput.value);
        const multiplier = parseFloat(ratioInput.value);

        if (groundsWeight && multiplier) {
          pourWaterWeightInput.value = Math.round(groundsWeight * multiplier)
        }
      }

      groundsWeightInput.addEventListener("change", updatePourWaterWeight);
      ratioInput.addEventListener("change", updatePourWaterWeight);
    </script>
  </body>
</html>
